.modal-del {
  position: relative;
  min-height: 200px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f2f0f9;
  max-width: 792px;
  padding: 0 106px;

}

.modal-del__title {
  padding: 40px 0;
}

.modal__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 30px;
  border: none;
  stroke: var(--second-color, #6e6893);

  transition: 
  transform 0.3s ease-in-out,
  stroke .3s ease-in-out;
}

.modal__close:hover {
  transform: scale(1.3);
  stroke: var(--violet, #6d5bd0);
}

.modal__close:active {
  stroke: var(--persian-blue, #4636c3);
}
