.cms {
  padding-top: 79px;
  padding-bottom: 110px;
}

.container__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px 7px;
  border-bottom: 1px solid var(--light-gray, #c6c2dE);
}

.title {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29/24);  
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--second-color, #6e6893);
}

.text {
  margin: 0;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17/14);
  color: var(--second-color, #6e6893);
}

.text-alt {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22/18);
  color: var(--violet, #6d5bd0);
}

.container__btn {
  display: grid;
  grid-template-columns: 108px 1fr 183px;
  gap: 20px;
  padding: 15px 18px 15px 20px;
  background-color: var(--main-bg-color, #ffffff);
  border-radius: 8px 8px 0 0;
}

.button-filter {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  max-width: 108px;
  max-height: 40px;
  border-radius: 6px;
  border: 1px solid var(--light-gray, #c6c2dE);

  transition: color .3s ease-in-out,
    background-color .3s ease-in-out;
}

.button-filter__svg {
  width: 20px;
  height: 20px;
  color: var(--light-violet, #8b83ba);

  transition: color .3s ease-in-out;
}

.button-filter__text {
  max-width: 58px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19/16);
  color: var(--main-color, #25213b);

  transition: color .3s ease-in-out;
}

.button-filter:hover {
  background-color: var(--violet, #6d5bd0);
}

.button-filter:hover,
.button-filter:hover .button-filter__text,
.button-filter:hover .button-filter__svg {
  color: var(--main-bg-color, #ffffff);
}

.button-filter:active {
  background-color: var(--persian-blue, #4636c3);
}

.search {
  position: relative;
  max-width: 392px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.search__button {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-45%);
  padding: 6px;
  border-radius: 6px;
  background-color: var(--second-bg-color, #f4f2ff);
  max-height: 40px;
}

.search__input {
  max-width: 392px;
  width: 100%;
  max-height: 40px;
  padding: 13px 10px 12px 38px;
  background: #F4F2FF;
  border-radius: 6px;
  border: 1px solid var(--second-bg-color, #f4f2ff);
  outline: none;
  cursor: pointer;
}

.search__input:hover {
  border-color: var(--persian-blue, #4636c3);
}

.search__input::placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: calc(15/12);
  color: var(--second-color, #6e6893);
}

.button-add-product {
  max-width: 181px;
  padding: 9px 14px 9px 15px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: calc(19/16);
  text-transform: uppercase;
  color: var(--main-bg-color, #ffffff);
  background-color: var(--violet, #6d5bd0);
  border-radius: 6px;
  border: 1px solid var(--violet, #6d5bd0);

  transition: 
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

.button-add-product:hover {
  background-color:var(--persian-blue, #4636c3);
}

.button-add-product:active {
  background-color:var(--main-bg-color, #ffffff);
  color:var(--persian-blue, #4636c3);
}

.scroll-box {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.table {
  min-width: 1100px;
  background-color: var(--main-bg-color, #ffffff);
  border-collapse: collapse;
  width: 100%;
}

.table__title {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15/12);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color, #6e6893);
  text-align: left;
  background-color: var(--second-bg-color, #f4f2ff);
}

.table__row {
  border-bottom: 1px solid  var(--light-gray, #c6c2de);
  border-top: 1px solid  var(--light-gray, #c6c2de);
}

.table__cell-title {
  padding: 15px 7px 15px 8px;
  background-color: var(--second-bg-color, #f4f2ff);
  border-collapse: collapse;
}

.table__cell {
  padding: 20px 7px 19px 8px;

  transition: background-color .2s ease-in-out;
}

.table__cell-id {
  width: 99px;
  padding-left: 15px;
}

.table__cell-name {
  width: 305px;
}

.table__cell-category {
  width: 175px;
}

.table__cell-units {
  text-align: center;
  width: 67px;
}

.table__cell-count {
  text-align: center;
  width: 106px;
}

.table__cell-price {
  text-align: end;
  width: 100px;
  padding-right: 12px;
}

.table__cell-total {
  text-align: center;
  width: 124px;
}

.table__cell-btn {
  width: 124px;
  padding-left: 8px;
  padding-right: 15px;
  display: flex;
  gap: 20px;
}

.table__row:hover .table__cell {
  background-color: var(--light-gray, #c6c2de);
}

.button-table {
  height: 20px;
  color: var(--second-color, #6e6893);
  background-color: inherit;

  transition: 
    transform 0.3s ease-in-out,
    color .3s ease-in-out;
}

.button-table:hover {
  transform: scale(1.3);
  color:var(--violet, #6d5bd0);
}

.button-table:active {
  color: var(--persian-blue, #4636c3);
}

.table__row {
  background-color: var(--main-bg-color, #ffffff);
  min-height: 60px;
}

.table__cell {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17/14);
  color: var(--main-color, #25213b);
  background-color: var(--main-bg-color, #ffffff);
}

.page-count {
  text-align: right;
  padding: 15px 0px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15/12);
  letter-spacing: 0.05em;
  color: var(--second-color, #6e6893);
}

.page-count__list {
  color: var(--second-color, #6e6893);
  border: none;
  outline: none;
  cursor: pointer;

  transition: color .3s ease-in-out;
}

.page-count__list:hover {
  color: var(--violet, #6d5bd0);
}

.page-count__list:active {
  color: var(--persian-blue, #4636c3);
}

.page-all {
  padding-right: 7px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15/12);
  letter-spacing: 0.05em;
  color: var(--second-color, #6e6893);
  text-align: end;
}

.page-control {
  text-align: end;
  padding-right: 20px;
  padding-left: 20px;

  transition: 
    transform 0.3s ease-in-out,
    color .3s ease-in-out;
}

.btn-back {
  margin-right: 47px;
}

.btn-back:hover,
.btn-next:hover {
  transform: scale(1.3);
  color:var(--violet, #6d5bd0);
}

.btn-back:active,
.btn-next:active {
  transform: scale(1.3);
  color: var(--persian-blue, #4636c3);
}

@media (max-width: 740px) {
  .container__group {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container__btn {
    grid-template-columns: 108px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "filter add"
      "search search";
    gap: 10px;
    padding: 10px 10px;
  }

  .button-filter {
    max-width: 108px;

  }

  .button-add-product {
    max-width: 183px;
    justify-self: start;
  }

  .search {
    grid-area: search;
  }

  .search__input {
    padding-left: 35px;
    padding-right: 5px;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 20px;
  }
  
  .text {
    font-size: 12px;
  }

  .text-alt {
    font-size: 16px;
  }

  .button-add-product {
    padding: 9px 14px;
    font-size: 12px;
  }

  .button-filter__text {
    font-size: 14px;
  }

  .search__input::placeholder {
    font-size: 10px;
  }
}